body{
	background-image: url("grayscale_hexagon.png");
	color: white;
   background-repeat:no-repeat;
   background-color: black;

   background-size:cover;

}

h1{
	background-color: black;
	height: auto;
	width: 500px;
	margin:auto; /* automatically centers the div.*/
	border-radius: 20px;
	opacity: 1;
	color: white;
	text-align: center;/* Text inside of any web element doesn't need to be centered.
			       I added this property to make the example page more organized.*/

}
#movieTitleDiv{
	height: 50px;
	text-align: center;

}

#ticket{

	position: relative;
	margin-top: 50px;
}

/* I think any collection of html elements should be placed in a div. */
div{
	background-color: black;
	width: 900px;
	margin:auto; /* automatically centers the div.*/
	border-radius: 20px;
	opacity: 1;

}
